<% if Current.user %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <%= link_to "Flowral Essence", root_path, class: "navbar-brand" %>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="d-flex">
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item dropdown">
                            <%= button_to "Know More About Flowers!", :about_flowers, method: :get, class: "nav-link" %>
                        </li>
                        <% if Current.user.user_role.role === "Customer" %>
                            <li class="nav-item dropdown">
                                <button class="btn btn-outline-pirmary"type="button" data-bs-toggle="offcanvas" data-bs-target="#cart" aria-controls="cart" >Cart (<%= @cart_items_count %>)</button>
                            </li>
                        <% end %>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Welcome, <strong><%= Current.user.full_name %></strong>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <% if Current.user.user_role.role === "Customer" %>
                                <li class="px-2"><%= button_to "Orders", orders_path, method: :get, class: "nav-link" %></li>
                            <% else %>
                                <li class="px-2"><%= button_to "Manage Orders", orders_path, method: :get, class: "nav-link" %></li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="px-2"><%= button_to "Analytics Dashboard", dashboard_path, method: :get, class: "nav-link" %></li>
                            <% end %>

                            <li><hr class="dropdown-divider"></li>
                            <li class="px-2"><%= button_to "Logout", sign_out_path, method: :delete, class: "nav-link" %></li>
                        </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="cart" aria-labelledby="cartLabel">
        <% if @cart_items.present? %>
            <div class="offcanvas-header d-flex justify-content-center">
                <h5 class="offcanvas-title" id="cartLabel">Items in your Cart</h5>
            </div>
            <div class="offcanvas-body">
                <ul style="padding-left: 0;">
                    <% @cart_items.each do |item| %>
                        <li class="d-flex flex-row align-items-center mb-4">
                            <div>
                               <%= image_tag item.product.product_image, alt: "Item image", height: 50, width: 50 if item.product.product_image.attached? %>
                            </div>

                            <div class="d-flex flex-row justify-content-between w-100 px-4">
                                <span><%= item.product.product_name %> <strong>(x<%= item.product_quantity %>)</strong></span>

                                <span>$ <%= item.total_price %></span>
                            </div>
                        </li>
                    <% end %>

                    <hr />

                    <li class="d-flex flex-row align-items-center">
                        <div style="height: 50px; width: 50px;">
                        </div>

                        <div class="d-flex flex-row justify-content-between w-100 px-4">
                            <span><strong>Total: </strong></span>

                            <span>$ <%= @total_price %></span>
                        </div>
                    </li>
                </ul>

                <div class="d-flex flex-row justify-content-between my-4">
                    <%= button_to "Clear Cart", clear_cart_path, method: :delete, class: "btn btn-danger" %>

                    <%= button_to "Proceed to Checkout", checkout_path, method: :get, class: "btn btn-primary" %>
                </div>
            </div>
        <% else %>
            <div class="offcanvas-header d-flex justify-content-center">
                <h5 class="offcanvas-title" id="cartLabel">Your Cart is Empty</h5>
            </div>
        <% end %>
    </div>
<% end %>

