<div class="container-fluid py-4" style="min-height: calc(100vh - 56px);">
    <div class="row">
        <div class="col-3 bg-light" style="min-height: calc(100vh - 56px - 48px);">
            <ul class="navbar-nav w-100 ">
                <% @flowers.each do |flower|  %>
                    <li class="nav-item"><%= link_to "#{flower.name}", about_flowers_path(id: flower.id), method: :get, class: "nav-link w-100 text-start" %></li>
                <% end %>
            </ul>
        </div>

        <div class="col-9">
            <% if params[:id].present? %>
                <div class="d-flex flex-row justify-content-between">
                    <h2 class="text-center"><%= @selected_flower.name %></h2>

                    <% if Current.user.user_role.role === "Admin" %>
                        <div class="d-flex flex-row">
                            <%= link_to "Edit", edit_about_flower_path(@selected_flower), class: "btn btn-warning my-2" %>
                        </div>
                    <% end %>
                </div>

                <div class="trix-content my-2">
                    <%= @selected_flower.about_flower.flower_description_1 %>
                </div>

                <div class="trix-content my-2">
                    <%= @selected_flower.about_flower.flower_description_2 %>
                </div>


                <% if @questions.present? %>
                    <h4 class="text-center my-4">Questions</h4>
                    <% @questions.each.with_index do |question, index| %>
                        <div class="d-flex flex-row">
                            <p><strong>Question <%= index + 1 %>.</strong></p>
                            <div style="width: 10px;"></div>
                            <p><%= question.message %></p>
                        </div>

                        <div class="d-flex flex-row">
                            <p><strong>Answer: </strong></p>
                            <div style="width: 10px;"></div>
                            <p><%= Chat.where(id: question.reply_to).first ? Chat.where(id: question.reply_to).first.message : "Answer Not Available" %></p>
                        </div>
                    <% end %>
                <% end %>
                <%= form_with url: ask_question_path, method: :post, local: true do |f| %>
                    <div class="form-group d-flex flex-row w-100 my-3">
                        <%= f.text_field :message, class: "form-control", placeholder: "Ask a question about this flower" %>

                        <div style="width: 20px;"></div>
                        <%= f.hidden_field :flower_id, value: @selected_flower.id %>
                        <%= f.submit "Ask", class: "btn btn-primary", style: "min-width: 100px;" %>
                    </div>
                <% end %>
            <% else  %>
                <h4 class="text-center mb-5">Get to Know more about the flowers of interest</h4>

                <p class="text-center">
                    Here you can find information about the flowers that we have available for sale. Tap on the flower of interest to get more information about it shown on the left panel.
                </p>

                <p class="text-center">
                    You can even ask questions about the flowers that you are interested in. We will be happy to help you with any questions that you may have. Just comment your question inside one of the flower's pages.
                </p>
            <% end %>
        </div>
    </div>

</div>